extends layout


block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title Down product to Stock
					div.account-wall
						form(class='form-signin', action='/down', method='POST')
							input(type='text', name='Pasword_ID' class='form-control', placeholder='Password ID',required, autofocus)
							input(type='text', name='Product_ID' class='form-control', placeholder='Product ID', required)
							button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
							span.clearfix
					#message
					if message
						h1.text-center.error-message #{message}
