a(href='/upstock', class='text-center new-account') Up Stock
p
a(href='/downstock', class='text-center new-account') Down Stock
p
a(href='/product', class='text-center new-account') Define Product
p
a(href='/login', class='text-center new-account') Login
p
a(href='/signup', class='text-center new-account') Register
p
a(href='/logout', class='text-center new-account') Log OUT
